RewriteEngine On
RewriteRule ^/?$ index.php [NC,L]
RewriteRule ^about/?$ about.php?slug=$1
RewriteRule ^cart/?$ cart.php?slug=$1
RewriteRule ^contact/?$ contactus.php?slug=$1
RewriteRule ^delivery/?$ deliveryandreturns.php?slug=$1
RewriteRule ^privacy/?$ privacypolicy.php?slug=$1
RewriteRule ^return/?$ returnandrefund.php?slug=$1
RewriteRule ^terms/?$ termsandcond.php?slug=$1
RewriteRule ^([^/\.]+)/?$ product.php?slug=$1 [L,QSA]
RewriteRule ^category/([^/\.]+)/?$ category.php?cat_slug=$1 [L,QSA]