RewriteEngine On
RewriteRule ^/?INR index.php [NC,L]
RewriteRule ^about/?INR about.php?slug=INR1
RewriteRule ^cart/?INR cart.php?slug=INR1
RewriteRule ^contact/?INR contactus.php?slug=INR1
RewriteRule ^delivery/?INR deliveryandreturns.php?slug=INR1
RewriteRule ^privacy/?INR privacypolicy.php?slug=INR1
RewriteRule ^return/?INR returnandrefund.php?slug=INR1
RewriteRule ^cart/?INR cart.php?slug=INR1
RewriteRule ^([^/\.]+)/?INR product.php?slug=INR1 [L,QSA]
RewriteRule ^category/([^/\.]+)/?INR category.php?cat_slug=INR1 [L,QSA]